
html, body, #root, .Container {
    height: 100%;
}

.Container {
    display: flex; 
    flex-direction: column;
}

.View {
    overflow: scroll; position: relative; height: 100%; padding: 8px;
    background: #ddd;
}